body{
    background-color: blanchedalmond;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.title{
    margin-top: 6%;
    margin-bottom: 6%;
}

h1{
    text-align: center;
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px #002ead;
  }

  .palindrome-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
  }

.user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
  }

::placeholder {
    text-align: center;
    font-size: 24px; 
 }

#text-input{
    width: 65%;
    height: 50px;
    margin-bottom: 3%;
    font-size: 24px;
    text-align: center;
}

#check-button{
    height: 40px;
    width: 20%;
}

.results-div {
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
  }
  
  .hidden {
    display: none;
  }

  .palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .palindrome-definition {
    vertical-align: middle;
    text-align: center;
  }