:root{ 
    --color1: aquamarine;
    --color2: rgb(226, 226, 226);
}

*{ 
    /*border: 1px solid black;*/ 
    font-family: monospace; 
    }

body{
    background-color: var(--color2);
}
  
#content-wrapper{ 
    /*border: 1px solid black;*/ 
    }

h1{ 
    text-align: center; 
    }
#full-stack{ 
        text-align: center; 
        font-size: 130%; 
    }

#ph-1,#ph-2{ 
        text-align: center; 
        font-size: 150%; 
        text-decoration: underline; 
    }
#languages{ 
        text-align: center; 
        border: 1px solid black; 
        background-color: var(--color1); 
        font-size: 125%; 
    }
#lang-title{ 
            text-align: center; 
    }

#Frameworks{ 
    text-align: center; 
    margin-top: 1%; 
    border: 1px solid black; 
    background-color: var(--color1); 
    font-size: 125%; 
    }