:root { 
    --color1: aquamarine;
    --color2: rgb(247, 238, 189); 
}

* { 
    /* border: 1px solid black; */
    font-family: monospace; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
    background-color: var(--color2); 
}

h1 {
    text-align: center; 
}

hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border-color: black; 
}

#full-stack {
    text-align: center;
    font-size: 130%;
}

#ph-1, #ph-2 {
    text-align: center;
    font-size: 175%;
    text-decoration: underline; 
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px 10px #888888;
    background-color: var(--color1);
    font-size: 125%; 
}

#lang-title,#framework {
    font-size: 150%;
    font-weight: bold; 
}

#lang-desc,#Frame-desc{
    padding: 1% 0 1%;
    font-size: 110%;
}


#Frameworks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px 10px #888888;
    background-color: var(--color1);
    font-size: 125%; 
}